# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

if [ -f ~/.dotfiles/autocompletes.bash ]; then
	. ~/.dotfiles/autocompletes.bash
fi

if [ -f ~/.dotfiles/aliases.bash ]; then
	. ~/.dotfiles/aliases.bash
fi

# SSH Agent management
SSH_ENV="$HOME/.ssh/agent-env"

function start_agent {
    ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
    chmod 600 "${SSH_ENV}"
    . "${SSH_ENV}" > /dev/null
}

if [ -f "${SSH_ENV}" ]; then
    . "${SSH_ENV}" > /dev/null
    ssh-add -l > /dev/null 2>&1
    if [ $? -eq 2 ]; then
        start_agent
    fi
else
    start_agent
fi

# Ensure the key is loaded
ssh-add -l > /dev/null 2>&1 || ssh-add ~/.ssh/id_ed25519

# if [ -f ~/.dotfiles/git.helpers.bash ]; then
#   . ~/.dotfiles/git.helpers.bash
# fi

function _update_ps1() {
	if [ -f ~/.local/bin/powerline-shell ]; then
		PS1=$(powerline-shell $?)
	fi
}

if [[ $TERM != linux && ! $PROMPT_COMMAND =~ _update_ps1 ]]; then
	PROMPT_COMMAND="_update_ps1; $PROMPT_COMMAND"
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]; then
	PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions
if [ -d ~/.bashrc.d ]; then
	for rc in ~/.bashrc.d/*; do
		if [ -f "$rc" ]; then
			. "$rc"
		fi
	done
fi

unset rc

# FZF if available
if type fzf &>/dev/null; then
	export FZF_ALT_C_OPTS="
		--walker-skip .git,node_modules,target
		--preview 'tree -C {}'"
	export FZF_CTRL_T_OPTS="
		--walker-skip .git,node_modules,target
		--preview 'bat -n --color=always {}'
		--bind 'ctrl-/:change-preview-window(down|hidden|)'"
	eval "$(fzf --bash)"
fi

{{- if .is_work }}
# pnpm
export PNPM_HOME="/home/dpi/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end
{{- end }}

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# export PATH="$PATH:$HOME/.dotnet"
export DOTNET_ROOT=$HOME/.dotnet
export PATH=$PATH:$DOTNET_ROOT:$DOTNET_ROOT/tools

# Added by get-aspire-cli.sh
if type aspire &>/dev/null; then
	export PATH="$HOME/.aspire/bin:$PATH"
fi

# opencode
if type opencode &>/dev/null; then
	export PATH=/home/dpi/.opencode/bin:$PATH
	. "$HOME/.cargo/env"
fi